@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1b26;
    color: #cfc9c2;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 3.5rem;
    background-color: #414868;
    text-align: center;
}

header h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 2.5rem;
}

header p {
    padding-top: 1rem;
    font-style: italic
}

main {
    max-width: 62.5rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section:not(.especial) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: #c0caf5;
    font-size: 1.2rem;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #e0af68;
    cursor: pointer;
    text-align: justify;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #cfc9c2;
    outline-color: #e0af68;
    border-radius: 10px;
    background-color: transparent;
    color: #cfc9c2;
}

input::placeholder, textarea::placeholder {
    color: #a9b1d6;
}

.perg5, input[type="checkbox"] {
    margin-top: 1rem
}

.perg5 {
    margin-right: 1rem;
}

select {
    cursor: pointer;
    background-color: #414868;
    color: #cfc9c2;
    border-radius: 10px;
    border-color: #cfc9c2;
    outline-color: #e0af68;
    padding: 0.5rem;
}

img {
    width: 15rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #c0caf5;
}

th {
    background-color: #414868;
    color: #cfc9c2;
    padding: 1rem;
}

td {
    color: #cfc9c2;
    padding: 0.8rem;
    text-align: center;
}

tfoot td {
    background-color: #414868;
    color: #cfc9c2;
}

details {
    background-color: #414868;  
    border-radius: 10px; 
    padding: 0.8rem;
    width: 100%;
}

summary {
    color: #cfc9c2;
    margin: 0.5rem;
    cursor: pointer;
}

ol {
    margin-left: 1.5rem;
}

li {
    padding: 0.3rem;
}

fieldset {
    border: 2px solid #c0caf5;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
}

legend {
    color: #cfc9c2;
    padding: 0 0.5rem 
}

textarea {
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    border: 2px solid #cfc9c2;
}

button {
    background-color: #e0af68;
    border: none;
    padding: 0.7rem;
    color: #1a1b26;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.6rem 0;
}

footer {
    background-color: #414868;
    padding: 1.5rem;
    text-align: center;
}

.paragrafo-footer {
    color: #cfc9c2 

}

footer a {
    text-decoration: none;
    color: #e0af68;
}

